HRS/.vs/HRS/DesignTimeBuild/.dtbcache.v2
HRS/.vs/HRS/v17/.futdcache.v2
HRS/.vs/HRS/v17/.suo
HRS/.vs/ProjectEvaluation/hrs.metadata.v6.1
HRS/.vs/ProjectEvaluation/hrs.projects.v6.1
HRS/HRS.Busniess/bin/Debug/net6.0/HRS.Busniess.dll
HRS/HRS.Busniess/bin/Debug/net6.0/HRS.Busniess.pdb
HRS/HRS.Busniess/obj/Debug/net6.0/HRS.Busniess.dll
HRS/HRS.Busniess/obj/Debug/net6.0/HRS.Busniess.pdb
HRS/HRS.Busniess/obj/Debug/net6.0/ref/HRS.Busniess.dll
HRS/HRS.Busniess/obj/Debug/net6.0/refint/HRS.Busniess.dll
HRS/HRS.Client/bin/Debug/net6.0/HRS.Busniess.dll
HRS/HRS.Client/bin/Debug/net6.0/HRS.Busniess.pdb
HRS/HRS.Client/bin/Debug/net6.0/HRS.Client.dll
HRS/HRS.Client/bin/Debug/net6.0/HRS.Client.pdb
HRS/HRS.Client/bin/Debug/net6.0/HRS.Data.dll
HRS/HRS.Client/bin/Debug/net6.0/HRS.Data.pdb
HRS/HRS.Client/obj/Debug/net6.0/HRS.Client.csproj.AssemblyReference.cache
HRS/HRS.Client/obj/Debug/net6.0/HRS.Client.dll
HRS/HRS.Client/obj/Debug/net6.0/HRS.Client.pdb
HRS/HRS.Client/obj/Debug/net6.0/ref/HRS.Client.dll
HRS/HRS.Client/obj/Debug/net6.0/refint/HRS.Client.dll

