<table class="table table-hover">

  <tr>
        <th *ngFor="let col of column">{{ col }}
        </th>
    </tr>
     <tbody>
        <tr *ngFor="let item of manager">
            <td>{{item.manager_Id}}</td>
            <td>{{item.emp_Id}}</td>
            <td>{{item.manager_DeptId}}</td>
            <td>{{item.managerEmp_Id}}</td>
            <td>{{item.effectiveFromDate}}</td>
            <td>{{item.effectiveToDate}}</td>
           
            
            <!-- <td>{{item.isActive}}</td> -->

        </tr>

    </tbody>


</table>

<button class="btn btn-success" (click)="addForm()">Add New Manager </button>


<div class="mt-4">
    <form *ngIf="managerForm">
        <h1>Add New Manager</h1>
        <p>emp_Id <input type="text" name="name" [(ngModel)]="new.emp_Id"></p>
        <p>manager_DeptId<input type="text" name="deptId" [(ngModel)]="new.manager_DeptId"></p>
        <p>effectiveFromDate<input type="date" name="effectiveFromDate" [(ngModel)]="new.effectiveFromDate"></p>
        <p>effectiveToDate <input type="date" name="effectiveToDate" [(ngModel)]="new.effectiveToDate"></p>
        <p>managerEmp_Id <input type="text" name="name" [(ngModel)]="new.managerEmp_Id"></p>
        

        <p>
            <button type="button" (click)="save(new)">Submit</button>
        </p>
    </form>
</div>