<div>
    <table class="table table-hover">
        <thead>
           
            <!-- <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of column" >{{ col }}
                  </th>
                </tr>
              </ng-template> -->

              <tr>
                <th *ngFor="let col of column" >{{ col }}
                </th>
              </tr>
           
        </thead>
        <tbody>
            <tr *ngFor="let item of employee ">
                <td>{{item.name}}</td>
                <td>{{item.address}}</td>

                <td>{{item.mobile}}</td>
                <td>{{item.dep_Id}}</td>
                <td>{{item.designation_Id}}</td>
                <td>{{item.manager_Id}}</td>
                <td class="tbl_alg_cent">
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdropEdit"
                        [routerLink]="['/editemp',item.id]">Edit</a>
                    &nbsp;|&nbsp;
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdropEdit" (click)="delete(item.id)">Delete</a>
                </td>

            </tr>

        </tbody>

        <td>
            <button type="button" [routerLink]="['/addemp']">Add</button>
        </td>
    </table>
</div>

