<div class="d-flex justify-content-md-center align-items-center vh-100">
    <form [formGroup]="addEmpForm" (ngSubmit)="AddEmployee()" class="emp">

        <div class="form-group">

            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="{'is-invalid': (addEmpForm.get('name')?.touched || addEmpForm.get('name')?.dirty) && 
                    !addEmpForm.get('name')?.valid}">
            <span class="invalid-feedback">
                <span *ngIf="addEmpForm.get('name')?.errors?.['required']">Name can't be blank.</span>
            </span>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Address</label>

            <input type="address" class="form-control" id="address" name="address" formControlName="address"
                [ngClass]="{'is-invalid': (addEmpForm.get('address')?.touched || addEmpForm.get('address')?.dirty) && !addEmpForm.get('address')?.valid}">
            <span class="invalid-feedback">
                <span *ngIf="addEmpForm.get('address')?.errors?.['required']">address can't be blank.</span>
            </span>
        </div>

        <div class="mb-3">
            <label for="mobile" class="form-label">mobile</label>
            <input type="number" class="form-control" id="mobile" name="mobile" formControlName="mobile"
                [ngClass]="{'is-invalid': (addEmpForm.get('mobile')?.touched || addEmpForm.get('mobile')?.dirty) && !addEmpForm.get('mobile')?.valid}">
            <span class="invalid-feedback">
                <span *ngIf="addEmpForm.get('mobile')?.errors?.['required']">mobile can't be blank.</span>
            </span>
        </div>
        <div class="mb-3">
            <label for="dep_Id" class="form-label">dep_Id</label>
            <input type="text" class="form-control" id="dep_Id" name="dep_Id" formControlName="dep_Id"
                [ngClass]="{'is-invalid': (addEmpForm.get('dep_Id')?.touched || addEmpForm.get('dep_Id')?.dirty) && !addEmpForm.get('dep_Id')?.valid}">
            <span class="invalid-feedback">
                <span *ngIf="addEmpForm.get('dep_Id')?.errors?.['required']">dep_Id can't be blank.</span>
            </span>
        </div>
        <div class="mb-3">
            <label for="designation_Id" class="form-label">designation_Id</label>
            <input type="designation_Id" class="form-control" id="designation_Id" name="designation_Id"
                formControlName="designation_Id"
                [ngClass]="{'is-invalid': (addEmpForm.get('designation_Id')?.touched || addEmpForm.get('designation_Id')?.dirty) && !addEmpForm.get('designation_Id')?.valid}">
            <span class="invalid-feedback">
                <span *ngIf="addEmpForm.get('designation_Id')?.errors?.['required']">designation_Id can't be
                    blank.</span>
            </span>
        </div>

        <div class="mb-3">
            <label for="manager_Id" class="form-label">manager_Id</label>
            <input type="manager_Id" class="form-control" id="manager_Id" name="manager_Id" formControlName="manager_Id"
                [ngClass]="{'is-invalid': (addEmpForm.get('manager_Id')?.touched || addEmpForm.get('manager_Id')?.dirty) && !addEmpForm.get('manager_Id')?.valid}">
            <span class="invalid-feedback">
                <span *ngIf="addEmpForm.get('manager_Id')?.errors?.['required']">manager_Id can't be
                    blank.</span>
            </span>
        </div>

        <button type="submit" [disabled]="!addEmpForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>